main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}

.hero-section {
  min-height: 93vh;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: clamp(4.5rem, 8vw, 8rem);
  font-weight: 500;
  white-space: nowrap;
  padding-bottom: 100px;
}

.hero-text {
  width: 146%;
  font-weight: normal;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.btn-register {
  padding-top: 6rem;
  padding-bottom: 2.5rem;
}

.hero-content .btn-signup {
  width: 250px;
  margin: 0;
  text-transform: capitalize;
  padding: 15px 23px;
  font-size: clamp(1.6rem, 2vw, 2rem);
} 

.modal-btn:hover {
  background: #3876ac;
}

.hero-img {
  grid-column: span 8;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  object-fit: cover;
}

.hero-section > .btn-signup {
  display: none;
}