@media screen and (max-width: 800px) {
  .topnav {
    margin-top: 30px;
  }

  .header-logo img {
    width: 30vw;
  }

  .main-navbar i {
    color: #FE142F;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
    min-height: 80vh;
  }

  .hero-content {
    width: auto;
    min-width: unset;
    background: #fff;
    color: #000;
    padding: 20px 0;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    font-size: 3.5rem;
    white-space: normal;
    position: unset;
    padding-bottom: 0;
  }

  .hero-text {
    width: 100%;
    font-size: 1.1rem;
    margin-top: 20px;
    padding: 0;
  }

  .btn-register {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 10px;
  }

  .hero-section > .btn-signup {
    display: block;
    margin: 35px auto 0px;
    padding: 12px 35px;
  }

  .btn-signup {
    position: unset;
    outline: none;
    text-transform: capitalize;
    font-size: 1.3rem;
  }

  .copyrights {
    text-align: center;
    margin: 10px 0 30px;
    font-size: 0.8rem;
  }

  main {
    position: relative;
    margin: 1px 20px;
  }

  .content,
  .modal-body {
    /* margin: 0 auto; */
  }
}

@media screen and (max-width: 768px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

 @media screen and (max-width: 540px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
  }
} 